.Contact {
  align-items: center;
  margin: 10px;
  margin-top: 9rem;
  margin-bottom: 5rem;
}
.contact-subheader {
  text-align: center;
  font-family: "Dawning of a New Day", cursive;
  font-size: 1.65rem;
  margin-top: -3vh;
}
.typewriter {
  display: block;
  margin: 0 auto;
}
.contact-details-container {
  text-align: center;
  display: block;
  margin: 0;
  margin-top: -53vh;
  margin-left: 2vh;
}

.contact-details-container strong {
  font-weight: 600;
  font-family: "Suranna", serif;
  text-decoration: underline;
}

.email {
  color: black;
  text-decoration: none;
  font-family: "Suranna", serif;
  text-align: center;
  line-height: 1.25;
}
.linkedin {
  color: black;
  text-decoration: none;
  font-family: "Suranna", serif;
  text-align: center;
  line-height: 1.25;
}
.github {
  color: black;
  text-decoration: none;
  font-family: "Suranna", serif;
  text-align: center;
  line-height: 1.25;
}

.contact-details-container span:hover {
  font-weight: 700;
  color: rgb(238, 198, 0);
}

@media only screen and (min-width: 1900px) {
  .contact-details-container {
    margin-top: -42.5vh;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1899px) {
}
@media only screen and (min-width: 1596px) and (max-width: 1699px) {
}
@media only screen and (min-width: 375px) and (max-width: 390px) {
  .Contact {
    margin-top: 14vh;
    margin-bottom: 0;
  }
  .contact-subheader {
    margin-top: -2vh;
    font-size: 1.35rem;
    width: 100%;
  }

  .typewriter {
    display: block;
    margin: 0 auto;
    margin-top: 10vh;
    width: 117vw;
    margin-left: -13vw;
  }
  .contact-details-container {
    margin-top: -49vh;
    margin-left: 1vh;
  }
  .contact-details-container span {
    font-weight: 700;
    color: rgba(202, 170, 6, 0.924);
  }
}
