.Biography {
  align-items: center;
  margin: 10px;
  margin-top: 16vh;
  margin-bottom: 0vh;
}
.biography-image {
  max-height: 50%;
  max-width: 35%;
  display: block;
  margin: 0 auto;
  margin-top: -4vh;
}

.about-par {
  font-family: "Suranna", serif;
  margin: 25.75vw;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.65;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.resume-container {
  margin: 0 40vw;
}
.resume {
  font-family: "Suranna", serif;
  color: black;
  text-decoration-color: #f7c143;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 1vh;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration-thickness: 3px;
}
.resume:hover {
  color: #f7c143;
  font-weight: 700;
  text-decoration-color: #fff;
}

.endorsements-header {
  margin-top: 5vh;
  margin-bottom: 0;
  margin-left: 10vw;
  margin-right: 45vw;
  font-weight: 600;
  font-family: "Suranna", serif;
  border-bottom: 1px solid rgb(253, 253, 253);
  text-align: center;
}
.endorsements {
  font-family: "Suranna", serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 45vw;
  max-height: 50vh;
  justify-content: space-around;
  overflow-y: scroll;
}
.endorsements::-webkit-scrollbar {
  display: none;
}
.love-container {
  border-bottom: 1px solid rgb(253, 253, 253);
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 5vw;
  min-width: 90%;
  max-width: 100%;
}

.endoresment-content {
  margin-left: 3vw;
  margin-right: 3vw;
  text-transform: lowercase;
}
.endoresment-name {
  margin-left: 32vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Dawning of a New Day", cursive;
}
.delete-button {
  color: #fff;
  background-color: rgb(216, 68, 0);
  border-color: rgb(216, 68, 0);
  border-radius: 2px;
  text-transform: uppercase;
}
.delete-button:hover {
  background-color: black;
  border-color: black;
  color: rgb(216, 68, 0);
}
@media only screen and (min-width: 1900px) {
  .resume {
    margin-top: 4vh;
  }
  .biography-image {
    margin-top: -1vh;
  }
  .about-par {
    font-family: "Suranna", serif;
    margin: 25.75vw;
    margin-top: 2vh;
    text-align: center;
    line-height: 1.65;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .biography-image {
    max-height: 50%;
    max-width: 60%;
  }
  .about-par strong {
    font-size: 0.97rem;
  }
  .about-par {
    margin: 6vw;
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 0.979rem;
    margin-bottom: 0;
  }
  .resume-container {
    margin: 0 20vw;
  }
  .resume {
    margin-top: 1vh;
    font-size: 0.95rem;
  }
}
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .Biography {
    margin-top: 14vh;
    margin-bottom: 5vh;
  }
  .Biography .header {
    font-size: 3rem;
  }
  .biography-image {
    max-height: 75%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: -3vh;
  }
  .about-par strong {
    font-size: 0.99rem;
  }
  .about-par {
    margin: 10vw;
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 0;
  }
  .resume-container {
    margin: 0 20vw;
  }
  .resume {
    margin-top: 2vh;
  }
  .endorsements-header {
    margin-left: 6vw;
    margin-right: 44vw;
  }
  .endorsements {
    margin-left: 2vw;
    margin-right: 45vw;
    max-height: 20vh;
  }
  .love-container {
    font-size: 1rem;
  }
  .endoresment-content {
    font-size: 0.85rem;
  }
  .endoresment-name {
    margin-left: 20vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1rem;
  }
}
