.Biography {
  align-items: center;
  margin: 10px;
  margin-top: 9rem;
  margin-bottom: 0;
}
.biography-image {
  max-height: 50%;
  max-width: 35%;
  display: block;
  margin: 0 auto;
  margin-top: -3vh;
}

.about-par {
  font-family: "Suranna", serif;
  margin: 30vw;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.65;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.resume-container {
  margin: 0 40vw;
}
.resume {
  font-family: "Suranna", serif;
  color: black;
  text-decoration-color: #f7c143;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 2vh;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration-thickness: 3px;
}
.resume:hover {
  color: #f7c143;
  font-weight: 700;
  text-decoration-color: #fff;
}

.endorsements-header {
  margin-top: 5vh;
  margin-bottom: 0;
  margin-left: 10vw;
  margin-right: 45vw;
  font-weight: 600;
  font-family: "Suranna", serif;
  border-bottom: 1px solid rgb(253, 253, 253);
  text-align: center;
}
.endorsements {
  font-family: "Suranna", serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 45vw;
  max-height: 50vh;
  justify-content: space-around;
  overflow-y: scroll;
}
.endorsements::-webkit-scrollbar {
  display: none;
}
.love-container {
  border-bottom: 1px solid rgb(253, 253, 253);
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 5vw;
  min-width: 90%;
  max-width: 100%;
}

.endoresment-content {
  margin-left: 3vw;
  margin-right: 3vw;
  text-transform: lowercase;
}
.endoresment-name {
  margin-left: 32vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Dawning of a New Day", cursive;
}
.delete-button {
  color: #fff;
  background-color: rgb(216, 68, 0);
  border-color: rgb(216, 68, 0);
  border-radius: 2px;
  text-transform: uppercase;
}
.delete-button:hover {
  background-color: black;
  border-color: black;
  color: rgb(216, 68, 0);
}
