.Endorsement {
  position: absolute;
  top: 110vh;
  right: 10vw;
  align-items: center;
  text-align: center;
  border: 2px solid #ffff;
}

.Endorsement h4 {
  margin-bottom: 0;
  font-family: "Dawning of a New Day", cursive;
  font-size: 1.45rem;
  margin-top: 1.5vh;
}
.new-endorsement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 3vw;
}
.new-endorsement input,
.new-endorsement textarea {
  margin-bottom: 1vh;
  font-family: "Suranna", serif;
  width: 15vw;
}
.love-button {
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 0.4vw;
  border-radius: 4px;
  color: #fff;
  background-color: black;
  font-family: "Suranna", serif;
  font-weight: 600;
}
.love-button:hover {
  color: #f7c143;
}

@media only screen and (min-width: 375px) and (max-width: 390px) {
  .Endorsement {
    top: 109vh;
    right: 1vw;
    border: 1px solid #ffff;
  }
  .Endorsement h4 {
    font-size: 1.2rem;
    padding: 0 1.5vw;
  }
  .new-endorsement {
    padding: 1vh 5vw;
  }
  .new-endorsement input,
  .new-endorsement textarea {
    width: 27vw;
  }
  .new-endorsement textarea {
    height: 8vh;
  }
  .love-button {
    padding: 0.2vw;
    font-size: 0.75rem;
  }
}
