.Login {
  align-items: center;
  margin: 10px;
  margin-top: 9rem;
}
.login-header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  font-family: "Suranna", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 20rem;
  padding-right: 20rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.login-header span {
  color: #f7c143;
  font-weight: 700;
}
.signin-form {
  display: flex;
  flex-direction: column;
  margin-left: 27rem;
  margin-right: 27rem;
  margin-top: 6rem;
  border: 2px solid black;
  padding: 2rem;
}
.signin-form input {
  align-items: center;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: "Suranna", serif;
}

.login-button {
  margin-left: 12rem;
  margin-right: 12rem;
  font-family: "Suranna", serif;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  border-radius: 2px;
}
.login-button:hover {
  color: #f7c143;
}
