.Login {
  align-items: center;
  margin: 10px;
  margin-top: 18vh;
}
.login-header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  font-family: "Suranna", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 20rem;
  padding-right: 20rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}
.login-header span {
  color: #f7c143;
  font-weight: 700;
}
.signin-form {
  display: flex;
  flex-direction: column;
  margin-left: 34vw;
  margin-right: 34vw;
  margin-top: 6rem;
  border: 2px solid black;
  justify-content: center;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 2vh;
}
.signin-form input {
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-left: 6vw;
  margin-right: 7vw;
  margin-bottom: 1rem;
  font-family: "Suranna", serif;
}

.login-button {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: "Suranna", serif;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  border-radius: 2px;
}
.login-button:hover {
  color: #f7c143;
}
