.Blog {
  height: 100vh;
}
.header {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blogs {
  position: relative;
  text-align: center;
  margin: 1rem;
}

.blog-image {
  width: 30vw;
  filter: grayscale(95%);
}
.subheader {
  font-family: "Suranna", serif;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fad200;
}

.poetry-container:hover {
  filter: grayscale(0%);
}
