.Home {
  background: #b0b0b0;
  height: 100vh;
  width: 99vw;
  margin: 0;
}
#homescreen-logo {
  margin-left: 1.5rem;
  margin-bottom: 5rem;
}

#home-image {
  max-height: 50%;
  max-width: 34.5%;
  display: block;
  margin: 0 auto;
  margin-right: 35vw;
  border-radius: 6px;
  filter: grayscale(95%);
}
#home-image:hover {
  filter: grayscale(0%);
}
#quote {
  font-family: "Dawning of a New Day", cursive;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  float: left;
  margin-top: -20vw;
  margin-left: 17vw;
  margin-bottom: 0;
  padding: 5vw;
  padding-top: 0;
  max-width: 13vw;
  text-align: center;
  line-height: 20px;
  transform: rotate(-10deg);
}

.categories {
  font-family: "Dawning of a New Day", cursive;
  color: #c7a047;
  font-size: 1.75rem;
  font-weight: 600;
  position: relative;
  float: right;
  margin-top: -40vh;
  line-height: 4;
  margin-right: 29.5vw;
}
.works {
  margin-top: -2.75rem;
}
.about {
  margin-top: 1.5rem;
}
.list {
  font-family: "Suranna", serif;
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  margin-top: -41.5vh;
  line-height: 1.25;
  margin-right: 12vw;
  margin-bottom: 0;
}
.list h1 {
  color: black;
  font-family: "Suranna", serif;
  font-size: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  transition: all 0.35s ease;
}
.list h1:hover {
  color: black;
}

.list h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(250, 210, 0);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.list h1:hover {
  text-decoration: underline;
  text-decoration-color: rgba(250, 210, 0);
}

.menu-container {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 1900px) {
  .Home {
    max-height: 20vh;
  }
  .menu-container {
    margin-top: 8vh;
  }
  .list {
    margin-right: 16.5vw;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1899px) {
  .list {
    margin-right: 16vw;
  }
}
@media only screen and (min-width: 1596px) and (max-width: 1699px) {
  .list {
    margin-right: 14vw;
  }
}
@media only screen and (min-width: 375px) and (max-width: 390px) {
  #homescreen-logo {
    width: 89vw;
    margin-left: 2rem;
    margin-bottom: 5rem;
  }
  #home-image {
    min-height: 40vh;
    max-width: 71vw;
    display: block;
    margin: 0 auto;
    margin-top: -3vh;
    margin-right: 13vw;
  }
  #quote {
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    float: left;
    margin-top: -54vw;
    margin-left: -1vw;
    margin-bottom: 0;
    padding: 2vw;
    max-width: 36vw;
  }
  .menu-container {
    margin-top: 45vh;
  }
  .categories {
    font-size: 1.75rem;
    position: relative;
    float: right;
    margin-top: -40vh;
    line-height: 4;
    margin-right: 69vw;
  }
  .about {
    margin-top: 1vh;
  }
  .list h1 {
    font-size: 2.5rem;
    margin-right: 2vw;
  }
}
