.Projects {
  margin-top: 16vh;
  background-color: rgb(176, 176, 176);
}
#projects-container {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}
#header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  font-family: "Suranna", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.add-container {
  align-items: center;
  text-align: center;
}
.add-button {
  font-family: "Suranna", serif;
  text-transform: uppercase;
  color: black;
  background-color: #f7c143;
  border: 1px solid #ffff;
  border-radius: 2px;
  box-shadow: 1px #f7c143;
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  #header {
    font-size: 3rem;
  }
}
