.Projects {
  margin-top: 9rem;
  background-color: rgb(176, 176, 176);
}
#projects-container {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}
#header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  font-family: "Suranna", serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
